<% layout('./layouts/boilerplate') %>

<style>
    
    h1{
        font-size: 4rem !important;
        color: rgb(161, 0, 91) !important;
      text-align: center;
    }
</style>

<div class="row mt-5">
    <div class="col-4 mt-5 offset-4">
        <h1>WELCOME <%= user.username%></h1>
    </div>
</div>